.MyWorkBlock{
    height: 100vh;
    background-color: #cbbaba;
}
.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.MyWorkContainer {
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    background-color: #bed9be;

}
.work {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}