.skillsBlock {
    height: 100vh;
    background-color: #d8e2ce;

}

.skillsContainer {
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
 }

.title {
    background-color: #bed9be;

}

.skills {
     border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;

}